<%= form_with model:@video, url: path do |f| %>
<div>
    <%= f.label 'Title' %>
    <%= f.text_field :title %>
</div>

<div>
    <%= f.label 'Description' %>
    <%= f.text_area :description, placeholder: "Describe el vídeo" %>
</div>

<div>
    <%= f.label 'Duración' %>
    <%= f.text_field :duration, placeholder: "Tiempo en minutos" %>
</div>

<div>
    <%= f.label 'Visible' %>
    <%= f.check_box :visible %>
</div>



<%= f.submit message %>
<% end %>